@use "./mixins" as *;
@use "./var" as *;

.empty-basket {
    text-align: center;
}

.confirm-wrapper {
    @include FlexRowEndEnd;
}

.basket-table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.basket-table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
}

.quantity-wrapper {
    @include FlexRowCenterCenter;
    gap: 10px;
    .form {
        padding: 5px 10px;
        border-radius: 5px;
        button {
            color: $colorWhite;
        }
    }
    .product {
        &-remove {
            background-color: $colorRed;
            button {
                background-color: $colorRed;
            }
        }
        &-add {
            background-color: $colorDell;
            button {
                background-color: $colorDell;
            }
        }
    }
}
