@use "./mixins" as *;
@use "./var" as *;

.navmenu {
    @include FlexRowSpaceBetweenCenter;
    gap: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: $colorBlack;
    div {
        @include FlexRowCenterCenter;
        gap: 20px;
    }
}
